*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:royalblue;
    font-family:sans-serif;
    text-align: center;
    font-variant: small-caps;
    margin-top:20vh;
}

